.App {
  width: 450px;
  margin: 0 auto;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 8px lightgrey;
}

.nav-inner {
  width: 450px;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

a,
a:visited,
a:active {
  color: black;
}

a:not(:first-child) {
  border-left: 1px solid lightgrey;
}

nav a.active {
  background-color: #e4013b;
  color: white;
  font-weight: bold;
}

body {
  margin-top: 30px;
}

section {
  padding: 15px;
}

section:before {
  display: block;
  border-top: 1px dashed lightgrey;
  height: 15px;
  content: ' ';
}
